{% extends "base.html" %}
{% load static i18n meta_tags %}

{% block meta_tags %}
  {% meta_tags title='Automatische Entscheidungen anfechten' %}
{% endblock %}

{% block body_class %}bg-blue-100{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}

  <div class="relative h-90vh px-4 my-6 sm:my-0 flex flex-col items-center justify-center text-center" style="max-height: 900px">

    <p>Unding.de wird zeitnah abgeschaltet. Sie können keine neuen Fälle erstellen.</p>

  </div>

{% endblock content %}
