{% extends "base.html" %}
{% load static meta_tags %}

{% block meta_tags %}
  {% meta_tags title="Warte auf Bestätigung" %}
{% endblock %}

{% block body_class %}{% if IS_EMBED %}bg-blue-100{% endif %}{% endblock %}
{% block content_class %}page-wrap-wide page-wrap-space mt-8 lg:mt-10{% endblock %}

{% block content %}
  <div class="p-8 lg:p-12 text-center">
    <h1 class="hl-2xl mb-4">Fast geschafft…</h1>
    <p class="text-lg max-w-lg mx-auto">Wir haben Ihnen soeben eine E-Mail geschickt. Bitte klicken Sie auf den Link in der E-Mail um fortzufahren.</p>
  </div>
{% endblock %}

